<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Boty</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Boty.styles.css" asp-append-version="true" />

    @RenderSection("adminstyles", required: false);
    @RenderSection("accountstyles", required: false);
    @RenderSection("productstyles", required: false);
    @RenderSection("orderstyles", required: false);
    @RenderSection("categorystyles", required: false);
</head>
<body>
    <header>
        <span>777 666 555 | info@nejlepsiboty.cz</span>
        <a asp-controller="Login" asp-action="Index">
            <img src="~/images/img/profile-user.png" alt="profile">
            <span class="login">Přihlásit se</span>
        </a>
    </header>

    <section class="upper-images">
        <a asp-controller="Home" asp-action="Index"><img src="~/images/img/Group 4.png" alt="shoeslogo"></a>
        <a href="#"><img src="~/images/img/loupe.png" alt="loupe" class="gr"></a>
        <a asp-controller="Demand" asp-action="Index"><img src="~/images/img/shopping-cart.png" alt="cart" class="gr"></a>
        <a href="#"><img src="~/images/img/heart.png" alt="heart" class="gr"></a>
    </section>

    <div class="nav-bar">
        <a asp-action="Products"><div class="nav-item">Products</div></a>
        <a asp-action="Categories"><div class="nav-item">Categories</div></a>
        <a asp-action="Accounts"><div class="nav-item">Accounts</div></a>
        <a asp-action="Orders"><div class="nav-item">Orders</div></a>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
