<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Boty</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Boty.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/Category-Menu.css" asp-append-version="true" />

    @RenderSection("styles", required: false)
    @RenderSection("loginstyles", required: false)
    @RenderSection("registerstyles", required: false)
    @RenderSection("productstyles", required: false)
    @RenderSection("profilestyles", required: false)
    @RenderSection("orderstyles", required: false)
    @RenderSection("filterstyles", required: false)
</head>
<body>
    <header>
        <span>777 666 555 | info@nejlepsiboty.cz</span>
        <a asp-controller="Login" asp-action="Index">
            <img src="~/images/img/profile-user.png" alt="profile">
            @if (Context.Session.GetInt32("Login") == null)
            {
                <span class="login">Přihlásit se</span>
            }
            else
            {
                <div>
                    <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Účet</div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profile</a></li>
                        @if (Context.Session.GetString("Role") == "Admin")
                        {
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin Panel</a></li>
                        }
                        <li><a class="dropdown-item" asp-controller="Login" asp-action="Logout">Odhlásit se</a></li>
                    </ul>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Účet
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Profile"
                               asp-action="Index">
                                Profil
                            </a>
                        </li>

                        @if (Context.Session.GetString("Role") == "Admin")
                        {
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Admin"
                                   asp-action="Index">
                                    Admin panel
                                </a>
                            </li>
                        }

                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item text-danger"
                               asp-controller="Login"
                               asp-action="Logout">
                                Odhlásit se
                            </a>
                        </li>
                    </ul>
                </div>

            }
        </a>
    </header>

    <section class="upper-images">
        <a asp-controller="Home" asp-action="Index"><img src="~/images/img/Group 4.png" alt="shoeslogo"></a>
        <a href="#"><img src="~/images/img/loupe.png" alt="loupe" class="gr"></a>
        <a asp-controller="Demand" asp-action="Index"><img src="~/images/img/shopping-cart.png" alt="cart" class="gr"></a>
        <a href="#"><img src="~/images/img/heart.png" alt="heart" class="gr"></a>
    </section>

    <section class="lower-categories">
        @await Component.InvokeAsync("CategoryMenu")
    </section>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="bottom-part">
        <div class="pre-footer">
            <p class="pre-footer-capitals">O nás</p>
            <p class="Lorem">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis quia corporis molestias tempora laudantium dolore ipsam tempore voluptatibus beatae inventore atque porro eligendi nostrum qui, adipisci officiis optio numquam aspernatur.
            </p>

            <img src="~/images/img/Logo_white.png" alt="shoeslogo">

            <p class="pre-footer-capitals">Naše nabídka</p>

            <div class="Lists-grid">
                <div>
                    <p>Dívčí</p>
                    <ul class="pr-f-list">
                        <li>
                            Tenisky
                        </li>
                        <li>
                            Holinky
                        </li>
                        <li>
                            Sandály
                        </li>
                        <li>
                            Baleríny
                        </li>
                        <li>
                            Polobotky
                        </li>
                    </ul>
                </div>

                <div>
                    <p>Chlapecké</p>
                    <ul class="pr-f-list">
                        <li>
                            Tenisky
                        </li>
                        <li>
                            Holinky
                        </li>
                        <li>
                            Sandály
                        </li>
                        <li>
                            Baleríny
                        </li>
                        <li>
                            Polobotky
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <footer>
            <p class="footer-capitals">Kontaktujte nás</p>

            <div class="footer-contact">
                <img src="~/images/img/6.png" alt="letter">
                <span>info@nejlepsiboty.cz</span>
            </div>

            <div class="footer-contact">
                <img src="~/images/img/8.png" alt="phone">
                <span>+420 777 666 555</span>
            </div>

            <div class="footer-socials">
                <img src="~/images/img/facebook.png" alt="fb">
                <img src="~/images/img/Group 153.png" alt="instagram">
                <img src="~/images/img/twitter.png" alt="X">
            </div>

            <p>Livtvínovská 600, Praha 9, 190 00</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
