@model List<ProductsModel>

@{
    ViewData["Title"] = "Boty E-shop";
}

@section styles {
    <link rel="stylesheet" href="~/css/Home.css" />
}

<div class="top-advert">
    <p class="under-title">Nová dívčí kolekce šetrná k dětským nohám</p>
    <p class="main-title">Nejen do města, ale i do přírody</p>

    <div class="products-button">
        <a asp-controller="Filter" asp-action="Index">
            zobrazit celou nabídku
        </a>
    </div>
</div>

<div class="divider">
    <img src="~/images/img/Group 295.png" alt="feet">
</div>

<section class="products">
    <div class="start-text">
        <p class="upper-text">Nejnovější kousky</p>
        <p class="lower-text">v naší nabídce</p>
    </div>

    @foreach (var product in Model)
    {
        <div class="product">
            <a asp-controller="Product" asp-action="Index">
                <img src="@product.ImagePath" alt="product-image" />
                <p>@product.ProductName</p>
                <span class="new-price">@product.Price * @product.Discount</span>
                <span class="old-price">@product.Price</span>
                <img src="~/images/img/shopping-cart.png" alt="cart" class="product-cart" />
            </a>
        </div>
    }

    <div class="products-button">
        <a asp-controller="Filter" asp-action="Index">
            zobrazit celou nabídku
        </a>
    </div>
</section>

<div class="divider">
    <img src="~/images/img/Group 295.png" alt="feet">
</div>

<section class="storage">
    <div class="storage-availability">
        <img src="~/images/img/Group 195.png" alt="storage">
        <p>Vše máme skladem</p>
    </div>

    <div class="free-delivery">
        <img src="~/images/img/Group 196.png" alt="delivery">
        <p>Doprava zdarma</p>
    </div>

    <div class="size-measurement">
        <img src="~/images/img/Group 293.png" alt="measure">
        <p>Jak měřit velikost</p>
    </div>
</section>

<div class="newsletter">
    <p class="upper-text-form">Nezmeškejte nové a výhodné akce</p>
    <p class="lower-text-form">Zadejte svůj email a obratem vám zašleme PDF s inspirací zdarma.</p>

    <form action="newsletter.php" method="get" class="newsletter-form">
        <input type="email" name="newsletter" placeholder="Zadej svůj email..." required>

        <div class="products-button">
            <a href="#">
                přihlásit
            </a>
        </div>
    </form>
</div>