@model List<ProductsModel>
@{
    ViewData["Title"] = "Products";
}

@section productstyles {
    <link rel="stylesheet" href="~/css/Products.css" />
}

@foreach (var product in Model)
{
    <div class="product-info">
        <div>@product.ProductName</div>
        <div>@product.Quantity</div>
        <div>@product.Color</div>
        <div>@product.Size</div>
        <div>@product.Price</div>
        <div>@product.Description</div>
    </div>
}